<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Text Analyzer</title>
</head>
<body>
 <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" style="color: salmon;font-weight: bold;">Text Analyzer</a>
 
  </nav>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome Buddy,</strong> The best online platform for analyzing and modifying text.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form action="/analyze" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="exampleFormControlTextarea1"><h1 style="color: salmon;">Enter the text below, To see the magic</h1></label>
        <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="8"></textarea>
      </div>
 
    <div class="custom-control custom-switch">
      <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Remove Punctuation</label>
    </div>
    <br>
    <div class="custom-control custom-switch">
      <input type="checkbox" name="uprcasetxt" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2">UPPERCASE TEXT</label>
    </div> 
    <br>
    <div class="custom-control custom-switch">
      <input type="checkbox" name="nlremover"  class="custom-control-input" id="customSwitch3">
      <label class="custom-control-label" for="customSwitch3">New Line Remover</label>
    </div> 
    <br>
    <div class="custom-control custom-switch">
      <input type="checkbox"  name="extraspcremover"  class="custom-control-input" id="customSwitch4">
      <label class="custom-control-label" for="customSwitch4">Extra Space Remover</label>
    </div> 


    <center><button type="submit" class="btn btn-danger mt-4">Submit</button></center>
  </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>